@model Asp.net_MVC_TestpreparationAppDemo.Models.DualDatabaseTestSchemeQuestion

@{
    ViewBag.Title = "CustomTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><em>CustomTest</em></h4>

<h3>Question @ViewBag.count: @Model.QuestionDescription? </h3> <br /><br />

@using (Html.BeginForm("CustomTestCheckAnswers", "Quizbank"))
{
    <fieldset>
        <input type="radio" name="answer" value=@ViewBag.correctincorrectstatusa /> @ViewBag.A. <br />
        <input type="radio" name="answer" value=@ViewBag.correctincorrectstatusb /> @ViewBag.B.<br />
        <input type="radio" name="answer" value=@ViewBag.correctincorrectstatusc /> @ViewBag.C.<br />
        <input type="radio" name="answer" value=@ViewBag.correctincorrectstatusd /> @ViewBag.D.<br />
        <br /><br />
        <input type="submit" value="Submit Answer" />
    </fieldset>
}

<br />
<pre>
Answers correct: @ViewBag.amountcorrect
Answers wrong:   @ViewBag.amountwrong
Percentage Correct: @if(ViewBag.amountcorrect != 0 && ViewBag.amountwrong !=0)
{
    double percentageright = (ViewBag.amountcorrect / (ViewBag.amountwrong + ViewBag.amountcorrect)) * 100;
    ViewBag.percentright = percentageright;
}
else if(ViewBag.amountcorrect != 0 && ViewBag.amountwrong == 0)
{
    ViewBag.percentright = 100;
}
else
{ ViewBag.percentright = 0; }
@ViewBag.percentright %</pre>














